table,tr,td
{
	color:red;
	font-family: Baskerville Old Face;
}
table,tr,td:hover
{
	color:silver;

}
.hover:hover
{
	color:red;
}
hr
{
	background-color: red;
}
.space
{
	padding-left: 80%;
}


hr{
	position: relative;
    left: 18%;
    overflow: hidden;
    width: 65%;
}
.shadow img
{
	border-radius: 80%;
  border: 3px rgb(244, 244, 244) solid;
  }
  body
  {
  	background-image: url("../image/bg1.jfif");
  }
  p
  {
  	color: white;
  }
  